name: Discourse Theme

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ci:
    permissions:
      contents: write
      pull-requests: read
    uses: discourse/.github/.github/workflows/discourse-theme.yml@v1
